*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  background-image: url(./images/1685505151_en-idei-club-p-programming-motivation-dizain-krasivo-11.jpg);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-block-end: 5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.drum-pad {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 60px; /* Center the text vertically */
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.drum-pad.active {
  background-color: #ddd;
  border: yellow 2px solid;
  box-shadow: yellow 0 0 10px;
}

audio {
  display: none;
}